/* Globals */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #32475b;
}

/* Typography */
h1 {
  font-size: 55px;
  line-height: 70px;
}

h2 {
  font-size: 34px;
}

p {
  line-height: 30px;
}

/* Utilities */
.container {
  width: 70%;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}

.float-l {
  float: left;
}

.w-50 {
  width: 50%;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.iblock li{
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-white {
  border: 1.2px solid #fe785c;
  border-radius: 5px;
  padding: 10px 10px;
  color: #fe785c;
  background-color: white;
}

.btn-color {
  border-radius: 5px;
  padding: 10px 10px;
  color: white;
  background-color: #fe785c;
}

/* Navs*/
div.nav-right {
  text-align: right;
}

#nav-1 {
  background-color: #f4f8fd;
  border-bottom: 1.5px solid #4c707a;
  line-height: 80px;
}

#nav-1 div.nav-left ul li:nth-child(2) {
  margin: 0 5px;
}

#nav-1 div.nav-right ul li:nth-child(2) {
  margin: 0 24px;
}

#nav-1 div.nav-right ul li i.fa-search {
  color: #50afc0;
}

#nav-2 {
  line-height: 80px;
}

#nav-2 ul li {
  margin-left: 24px;
  text-transform: capitalize;
}

#nav-2 ul li i {
  margin-left: 15px;
}

#nav-2 div.nav-left img {
  vertical-align: middle;
}

/* Jumbotron */

#jumbotron {
  background-color: #fef5ef;
  height: 608px;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: top right;
}

#jumbotron h1 {
  margin-bottom: 30px;
  padding-top: 50px;
  width: 80%;
}

#jumbotron p {
  width: 80%;
  margin-bottom: 60px;
}

#jumbotron a {
  padding: 24px 40px;
}

#jumbotron span {
  display: block;
  margin-top: 60px;
  font-size: 13px;
}

/* Color bar */

#color-bar {
  background-color: #afebe4;
  height: 80px;
  border-top: 3px solid #4c707a;
  border-bottom: 3px solid #4c707a;
}

/* Main */
/* Powerful */

#powerful {
  text-align: center;
}

#powerful img {
  display: block;
  width: 15%;
  margin: 50px auto 0px auto;
}

#powerful h2 {
  margin-bottom: 25px;
}

#powerful p {
  width: 40%;
  margin: 0 auto 50px auto;
}
