/* Globals */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #32475b;
}

main {
  background-color: #f4f8fd;
}

/* Typography */
h1 {
  font-size: 55px;
  line-height: 70px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 24px;
}

p {
  line-height: 30px;
}

/* Utilities */
.container {
  width: 70%;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}

.float-l {
  float: left;
}

.w-50 {
  width: 50%;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.iblock li{
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-white {
  border: 1.2px solid #fe785c;
  border-radius: 5px;
  padding: 10px 10px;
  color: #fe785c;
  background-color: white;
}

.btn-color {
  border-radius: 5px;
  padding: 10px 10px;
  color: white;
  background-color: #fe785c;
}

.chk-color {
  color: #fe785c;
}
/* Navs*/
div.nav-right {
  text-align: right;
}

#nav-1 {
  background-color: #f4f8fd;
  border-bottom: 1.5px solid #4c707a;
  line-height: 80px;
}

#nav-1 div.nav-left ul li:nth-child(2) {
  margin: 0 5px;
}

#nav-1 div.nav-right ul li:nth-child(2) {
  margin: 0 24px;
}

#nav-1 div.nav-right ul li i.fa-search {
  color: #50afc0;
}

#nav-2 {
  line-height: 80px;
}

#nav-2 ul li {
  margin-left: 24px;
  text-transform: capitalize;
}

#nav-2 ul li i {
  margin-left: 15px;
}

#nav-2 div.nav-left img {
  vertical-align: middle;
}

/* Jumbotron */

#jumbotron {
  background-color: #fef5ef;
  height: 608px;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: top right;
}

#jumbotron h1 {
  margin-bottom: 30px;
  padding-top: 50px;
  width: 80%;
}

#jumbotron p {
  width: 80%;
  margin-bottom: 60px;
}

#jumbotron a {
  padding: 24px 40px;
}

#jumbotron span {
  display: block;
  margin-top: 60px;
  font-size: 13px;
}

/* Color bar */

#color-bar {
  background-color: #afebe4;
  height: 80px;
  border-top: 3px solid #4c707a;
  border-bottom: 3px solid #4c707a;
}

/* Main */
/* Powerful */

#powerful {
  text-align: center;
}

#powerful img {
  display: block;
  width: 15%;
  margin: 0 auto;
  padding-top: 50px;
}

#powerful h2 {
  margin-bottom: 25px;
}

#powerful p {
  width: 40%;
  margin: 0 auto 50px auto;
}

/* CRM */

#crm > div {
  background-color: white;
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.2);
  padding: 80px 50px;
}

#crm .learn-more {
  width: 35%;
  position: relative;
}

#crm .crm-info {
  width: 45%;
}

#crm img {
  width: 30%;
  display: block;
  margin: 0 auto 90px auto;
}

#crm .learn-more a {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  padding: 20px 40px;
}

#crm h3 {
  margin-bottom: 25px;
}

#crm p {
  margin-bottom: 25px;
}

#crm span {
  display: inline-block;
  position: relative;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 30px;
}

#crm span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 150%;
  height: 2px;
  width: 290%;
  background-color: #4c707a;
}

#crm .features i {
  margin: 0 16px;
}

#crm .features i:first-child {
  margin-left: 0;
}
