/* Globals */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #32475b;
}

main {
  background-color: #f4f8fd;
}

/* Typography */
h1 {
  font-size: 55px;
  line-height: 70px;
}

h2 {
  font-size: 34px;
  text-transform: capitalize;
}

h3 {
  font-size: 24px;
  margin-bottom: 25px;
}

p {
  line-height: 30px;
}

.caption-info {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
}

/* Utilities */
.container {
  width: 70%;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}

.float-l {
  float: left;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-70 {
  width: 70%;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.iblock li{
  display: inline-block;
}

.block > * {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-white {
  border: 1.2px solid #fe785c;
  border-radius: 5px;
  padding: 10px 10px;
  color: #fe785c;
  background-color: white;
}

.btn-color {
  border-radius: 5px;
  padding: 10px 10px;
  color: white;
  background-color: #fe785c;
}

.btn-ftr {
  border-radius: 5px;
  padding: 10px 10px;
  color: #32475b;
  background-color: #d9dee1;
  display: inline-block;
  margin: 15px 0;
  font-size: 13px;
}

.chk-color {
  color: #fe785c;
}

.box-shd {
  background-color: white;
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.2);
}

/* Navs*/
div.nav-right {
  text-align: right;
}

#nav-1 {
  background-color: #f4f8fd;
  border-bottom: 1.5px solid #4c707a;
  line-height: 80px;
}

#nav-1 div.nav-left ul li:nth-child(2) {
  margin: 0 5px;
}

#nav-1 div.nav-right ul li:nth-child(2) {
  margin: 0 24px;
}

#nav-1 div.nav-right ul li i.fa-search {
  color: #50afc0;
}

#nav-2 {
  line-height: 80px;
}

#nav-2 ul li {
  margin-left: 24px;
  text-transform: capitalize;
}

#nav-2 ul li i {
  margin-left: 15px;
}

#nav-2 div.nav-left img {
  vertical-align: middle;
}

/* Jumbotron */

#jumbotron {
  background-color: #fef5ef;
  height: 608px;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: top right;
}

#jumbotron h1 {
  margin-bottom: 30px;
  padding-top: 50px;
  width: 80%;
}

#jumbotron p {
  width: 80%;
  margin-bottom: 60px;
}

#jumbotron a {
  padding: 24px 40px;
}

#jumbotron span {
  display: block;
  margin-top: 60px;
  font-size: 13px;
}

/* Color bar */

#color-bar {
  background-color: #afebe4;
  height: 80px;
  border-top: 3px solid #4c707a;
  border-bottom: 3px solid #4c707a;
}

/* Main */
/* Powerful */

#powerful {
  text-align: center;
}

#powerful img {
  display: block;
  width: 15%;
  margin: 0 auto;
  padding-top: 50px;
}

#powerful h2 {
  margin-bottom: 25px;
}

#powerful p {
  width: 40%;
  margin: 0 auto 50px auto;
}

/* CRM */

#crm > div {
  padding: 80px 50px;
}

#crm .learn-more {
  width: 35%;
  position: relative;
}

#crm .crm-info {
  width: 45%;
}

#crm img {
  width: 30%;
  display: block;
  margin: 0 auto 90px auto;
}

#crm .learn-more a {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  padding: 20px 40px;
}

#crm p {
  margin-bottom: 25px;
}

#crm span {
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
}

#crm span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 150%;
  height: 2px;
  width: 290%;
  background-color: #4c707a;
}

#crm .features i {
  margin: 0 16px;
}

#crm .features i:first-child {
  margin-left: 0;
}

/* Hubs */

#hubs .float-l {
  width: 30%;
  padding: 25px 40px;
}

#hubs .sales {
  margin-left: 5%;
  margin-right: 5%;
}

#hubs div > div {
  margin: 5% 0;
  text-align: center;
  padding:
}

#hubs img {
  height: 100px;
  display: block;
  margin: 0 auto 25px auto;
}

#hubs p {
  position: relative;
  padding-bottom: 60px;
}

#hubs p::before {
  position: absolute;
  bottom: 0;
  content: '';
  height: 2px;
  background-color: #4c707a;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

#hubs .caption-info {
  display: block;
  margin: 50px 0;
}

#hubs ul {
  text-align: left;
  margin-bottom: 70px;
}

#hubs ul li i {
  margin-right: 16px;
}

#hubs .btn-color {
  display: inline-block;
  padding: 20px 40px;
}

/* Community */

#community {
  background-image: linear-gradient(90deg, #00abb7, #00bba8);
  text-align: center;
  color: white;
}

#community h2 {
  padding: 50px 0;
}

#community p {
  margin-bottom: 50px;
}

#community img {
  margin: 30px auto 10px auto;
}

#community span:nth-child(2) {
  position: relative;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 10px;
}

#community span:nth-child(3) {
  font-size: 13px;
  margin-bottom: 30px;
}

#community span.plus::after {
  position: absolute;
  top: 10px;
  content: '\00a0\002b';
  font-weight: 400;
  font-size: 25px;
}

#community div.row-1 {
  border-bottom: 1px solid white;
}

#community div.row-1 > div,
#community div.row-2 > div {
  border-right: 1px solid white;
}

#community div.row-1 > div:last-child,
#community div.row-2 > div:last-child {
  border-style: none;
}

#community div.container > div:last-child {
  padding-bottom: 120px;
}

/* Customers */

#customers {
  padding-top: 50px;
  background-color: white;
  margin-bottom: 50px;
}

#customers div.row-1 {
  margin-bottom: 25px;
}

#customers div.row-1 .w-30 {
  padding: 0 100px;
}

#customers div.row-1 h2 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 30px;
}

#customers div.w-70 img {
  max-width: 15%;
  vertical-align: middle;
  margin: 12px;
}

#customers div.w-70 {
  padding: 0 100px;
  text-align: right;
}

#customers div.row-2 h2 {
  margin-bottom: 30px;
  padding-top: 30px;
  width: 80%;
}

#customers div.row-2 p {
  width: 80%;
  margin-bottom: 60px;
}

#customers div.row-2 a {
  padding: 24px 40px;
}

#customers div.row-2 span {
  display: block;
  margin-top: 60px;
  font-size: 13px;
}

#customers div.row-2 > div:last-child {
  position: relative;
}

#customers div.row-2 img {
  position: absolute;
  top: 0;
  right: 0;
  height: 300px;
}
/* Fine Main */

/* Footer */

footer {
  background-color: #32475b;
  color: #d9dee1;
}

footer h5 {
  color: #fff;
  font-size: 15px;
  margin: 40px 0 20px 0;
}

footer div.w-25 ul li {
  line-height: 35px;
}

div.social-ftr i {
  margin-right: 20px;
}
